@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url('./fontes/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('./fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('./fontes/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

*{
    font-family: 'OpenSans';
}

#systemName {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: 800;
}