@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url('./fontes/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('./fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('./fontes/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

*{
    font-family: 'OpenSans';
}

:root {
    --cor1: #45f3ff;
}

#systemName {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: 800;
}

@media screen and (min-width: 991px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle{
        margin-left: .5em;
    }
}