@charset "UTF-8";

.body-popup{
    position: absolute;
    top: -150%;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.541);
    font-family: "Releway",sans-serif;
    overflow: auto;
    height: 100%;
    width: 100%;
    transition: top 500ms ease-in-out 0s,
                opacity 500ms ease-in-out 0s;
}

.body-popup.active {
    position: fixed;
    top: 0;
    opacity: 1;
    transition: top 0ms ease-in-out 0s,
                opacity 500ms ease-in-out 0s;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transform: translate(-50%,-50%) scale(1.25);
    transition: top 500ms ease-in-out 200ms,
                opacity 500ms ease-in-out 200ms,
                transform 1s ease-in-out 200ms;
}

.popup.max-h {
    max-height: 100vh;
}

.popup.active {
    position: absolute;
    top: 0px;
    opacity: 2;
    z-index: 2;
    transform: translate(-50%,0) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10x 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10x;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checbox"] {
    margin-right: 5px;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

#popPhoto {
    width: 100%;
    max-width: 800px;
}

#popItems, #popEmployees {
    width: 100%;
    max-width: 800px;
}

#popDepartments, #popRoles {
    width: 100%;
    max-width: 600px;
}